@import "../../mediaQuery.scss";

.portfolioContainer {
  height: 100%;
  justify-content: center;
  align-content: center;
  background-color: #131316;
  padding: 5px;
  @include mobile {
    padding: 3px;
    height: 100%;
  }
}

.label {
  margin-top: 0.5rem;
  text-align: center;
  padding: 10px;
  color: #ffde59;
  h3 {
    color: white;
  }
  @include mobile {
    h1 {
      font-size: 20px;
    }
    h3 {
      font-size: 10px;
      @include mobile {
        margin: auto;
      }
    }
  }
}

.portfolio {
  padding: 1rem;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (1, 1fr);
  background-color: #131316;
  overflow: hidden;
  @include mobile {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 0;
    padding: 0px 3px;
    height: 500px;
  }

  .item1,
  .item2 {
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px 75px rgba(245, 238, 238, 0.596);
    height: 90%;
    @include mobile {
      margin: auto;
      padding: 4px;
      bottom: 30px;
      background-color: #24242b;
      box-shadow: 10px 10px 75px rgba(0, 0, 0, 0.596);
      height: 250px;
    }

    img {
      margin-top: 0.5rem;
      width: 80%;
      height: 60%;
      padding: 0px 10px;
      @include mobile {
        height: 167px;
        width: 170px;
        float: left;
        padding: 5px;
      }
    }

    .btn {
      @include mobile {
        float: center;
        margin-right: 40px;
        font-size: 8px;
        padding: 4px 20px;
      }
    }

    h2 {
      margin-top: 15px;
      font-size: 22px;
      line-height: 2;
      color: gold;

      @include mobile {
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        margin: auto;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.5;
      @include mobile {
        font-size: 10px;
        margin: auto;
        text-align: justify;
        line-height: 1.5;
        padding: 10px 20px;
        margin-top: 10px;
      }
    }
  }
}
