.portfolioContainer {
  height: 100%;
  justify-content: center;
  align-content: center;
  background-color: pink;
}

.label {
  margin-top: 1.5rem;
  text-align: center;
  padding: 8px;
  text-transform: uppercase;
}
.portfolio {
  padding: 1rem;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (1, 1fr);
  height: 50rem;
  background-color: pink;
}

.item {
  align-items: center;
  text-align: center;
  box-shadow: 10px 10px 75px rgba(0, 0, 0, 0.596);
  height: 80%;
  overflow: hidden;

  img {
    margin-top: 1rem;
    width: 50%;
    height: 60%;
    padding: 5px;
  }

  h1 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
  }
}
/*Button*/
.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border-radius: 3%;
  font-size: 14px;
  font-weight: bolder;
  float: center;
}
