@import "../../mediaQuery.scss";

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  height: 100%;
  text-align: justify;
  align-content: center;
  background-color: #08080a;
  @include mobile {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }

  img {
    height: 900px;
    width: 1000px;
    object-fit: cover;
    @include mobile {
      height: 200px;
      width: 200px;
      object-fit: cover;
    }
  }
}

.aboutContent {
  padding: 5px;
  margin: 5px, 5px;
  align-items: center;
  width: 90%;
  height: 70%;
  background-color: #08080a;
  color: white;
  @include mobile {
    background-color: #08080a;
    height: 100%;
    padding: 0px 2px;
    align-items: centre;
    margin-top: 10px;
  }

  h1 {
    text-align: center;
    margin-top: 0rem;
    margin-right: 30px;
    padding: 10px;
    text-transform: uppercase;
    @include mobile {
      font-size: 20px;
      margin: auto;
    }
  }

  p {
    font-size: 16px;
    line-height: 2;
    padding: 30px 40px;
    color: white;
    margin-right: 60px;
    @include mobile {
      display: flex;
      font-size: 11px;
      margin: 20px 20px;
      // text-align: justify;
      line-height: 1.5;
      padding: 1px;
    }
  }

  .signOff {
    font-family: "Fuggles", cursive;
    font-size: 40px;
    float: right;
    @include mobile {
      font-size: 20px;
      float: right;
    }
  }
}
