.intro {
  height: 100%;
  display: flex;
  background-color: #131316;

  .leftPane {
    flex: 0.4;
    margin-top: 40px;
    width: 80%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 4rem;
    // background-color: goldenrod;

    // .imgContainer {
    //   width: 700%;
    //   height: 700px;
    //   border-radius: 50%;
    // }

    .img {
      border-radius: 50%;
      margin-left: 24rem;
      margin-top: 150px;
      // border-style: solid;
      // border-color: goldenrod;
    }
  }

  .rightPane {
    flex: 0.5;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 30px;
    height: 60%;

    h1 {
      font-size: 60px;
      margin: 10px 0;
    }

    h3 {
      font-size: 30px;
      span {
        font-size: 30px;
        color: gold;
      }
    }
    img {
      position: absolute;
      bottom: 10px;
      left: 40%;
      width: 30px;
      animation: arrowBlink 2s infinite;

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
