* {
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  overflow: hidden;
}

.app {
  height: 100vh;
}

.sections {
  height: 90%;
  position: relative;
  top: 70px;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 90%;
  scroll-snap-align: start;
}

.btn {
  background: gold;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 0.4rem 1rem;
  text-decoration: none;
  border-radius: 3%;
  float: center;
}
